<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>300306400540-8hackgkl70u8o45fmbdo7ubeokhfdmrk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.300306400540-8hackgkl70u8o45fmbdo7ubeokhfdmrk</string>
	<key>API_KEY</key>
	<string>AIzaSyDTjLIit34aj_bZXRAMWMMWochJCFchuAA</string>
	<key>GCM_SENDER_ID</key>
	<string>300306400540</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>id.jasonjiu.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios-69c47</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios-69c47.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:300306400540:ios:96c186e7852106684126d9</string>
</dict>
</plist>